<ion-view view-title="Series {{ ::viewCtrl.seriesId }}">
	<ion-nav-buttons side="primary">
		<div class="nav-icon-buttons wave-list-nav-buttons">
			<button class="button button-clear"
					ng-click="viewCtrl.toggleOnlyOwned()"
					ng-class="{
						'filter-button-active' : !viewCtrl.isFilteringOwned
					}"
			>
				<span class="ion-android-funnel"></span>
			</button>
			<button class="button button-clear"
					ng-show="viewCtrl.viewState === 'list'"
					ng-click="viewCtrl.viewState = 'grid'"
			>
				<span class="ion-grid"></span>
			</button>
			<button class="button button-clear"
					ng-show="viewCtrl.viewState === 'grid'"
					ng-click="viewCtrl.viewState = 'list'"
			>
				<span class="ion-navicon-round"></span>
			</button>
			<button class="button button-clear"
					ng-click="viewCtrl.showSearch()"
			>
				<span class="ion-android-search"></span>
			</button>
		</div>
	</ion-nav-buttons>
	<ion-header-bar class="bar bar-subheader item-input-inset bar-positive"
					ng-if="viewCtrl.searchShown"
	>
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search"
				   placeholder="Search..."
				   ng-model="viewCtrl.searchFilter"
				   ng-keyup="viewCtrl.filterCards()"
				>
		</label>
		<button class="button button-clear"
				ng-click="viewCtrl.hideSearch()"
		>
			Cancel
		</button>
	</ion-header-bar>
	<ion-content class="wave-list-view"
				 ng-class="[ 'card-series--' + viewCtrl.seriesId ]"
	>
		<div class="list-wrapper"
			 ng-class="{
				'list-wrapper--searching' : viewCtrl.searchShown,
				'list-wrapper--state-grid' : viewCtrl.viewState === 'grid',
				'list-wrapper--state-list' : viewCtrl.viewState === 'list'
			 }"
		>
			<div ng-if="viewCtrl.setNotReleased"
				 class="not-released-disclaimer"
			>
				This set has not been released.
			</div>
			<div ng-if="!viewCtrl.setNotReleased && viewCtrl.visibleCards.length === 0 && viewCtrl.searchShown"
				 class="no-matches-found"
			>
				No matches found.
			</div>
			<div ng-if="viewCtrl.viewState === 'list'">
				<div collection-repeat="card in viewCtrl.visibleCards track by card.id"
					 class="list-card"
					 ng-class="{ 'card-owned' : card.isOwned, 'even-row' : $even, 'odd-row' : $odd }"
				>
					<div class="list-card-list-wrapper">
						<span class="list-card-list-cell list-card-number">{{ card.id }}</span>
						<a class="list-card-list-cell list-card-name"
						   ng-href="#/app/card-detail/{{ viewCtrl.seriesId }}/{{ card.id }}"
						>{{ card.name }}</a>
						<a class="list-card-list-cell list-card-ownership"
						   ng-click="viewCtrl.toggleCardOwnership(card)"
						>
							<span class="interaction-checkbox-icon"
								  ng-class="{
									'ion-android-checkbox-outline' : card.isOwned,
									'ion-android-checkbox-outline-blank' : !card.isOwned
							   }"
							></span>
						</a>
					</div>
				</div>
			</div>
			<div ng-if="viewCtrl.viewState === 'grid'">
				<div collection-repeat="card in viewCtrl.visibleCards track by card.id"
					 class="list-card"
					 item-width="118px"
					 item-height="176px"
					 ng-class="{ 'card-owned' : card.isOwned }"
				>
					<span class="list-card-img-wrapper">
						<a class="list-card-img-link"
						   ng-href="#/app/card-detail/{{ viewCtrl.seriesId }}/{{ card.id }}"
						>
							<img alt="{{ card.name }}"
								 class="list-card-img"
								 ang-src="img/cards/loading.png"
								 ng-src="img/cards/wave-{{ card.wave }}/{{ card.id }}.png"
								>
						</a>
						<a class="interaction-checkbox-wrapper"
						   ng-click="viewCtrl.toggleCardOwnership(card)"
						>
							<span class="interaction-checkbox">
								<span class="interaction-checkbox-icon"
									ng-class="{
										'ion-android-checkbox' : card.isOwned,
										'ion-android-checkbox-blank' : !card.isOwned
								   }"
								></span>
							</span>
						</a>
					</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
