.wave-list-view {

	.not-released-disclaimer,
	.no-matches-found {
		text-align: center;
		padding: 20px 30px;
		font-size: 24px;
		line-height: 36px;
		color: #aaa;
		display: block;
		width: 100%;
	}

	.list-wrapper {
		@card-width: 108px;
		@card-height: @card-width * @card-img-height-ratio;

		display: flex;
		flex-flow: row wrap;
		padding: 10px 0;

		&.list-wrapper--searching {
			padding-top: 44px;
		}

		.list-card {
			flex: 1 1 auto;
			position: relative;
			padding: 5px 2px;
			text-align: center;

			.list-card-img-wrapper {
				position: relative;
				display: inline-block;
			}

			.list-card-img {
				height: @card-height;
				width: @card-width;
			}

			&.card-owned {
				.list-card-img {
					filter: grayscale(100%) brightness(120%);
				}
			}

			.interaction-checkbox {
				@icon-size: 24px;
				position: absolute;
				bottom: -2px;
				right: -6px;
				font-size: @icon-size;
				color: #000;
				background: #fff;
				height: @icon-size;
				line-height: @icon-size;
				width: @icon-size;
				text-align: center;
				vertical-align: middle;
				display: inline-block;
				padding: 1px;
				border-radius: 2px;

				.interaction-checkbox-icon {
					.center-XY;

					height: @icon-size;
					width: @icon-size;
					line-height: @icon-size;
					text-align: center;
					vertical-align: middle;
					display: inline-block;

					&:before {
						vertical-align: bottom;
					}
				}
			}
		}
	}

}

.filter-button-active {
	opacity: 0.4;
}
